@model MVC.ViewModels.Bet.ShortBetViewModel
    
<p>
    <strong> @Html.DisplayNameFor(name => Model.UserName)</strong>
    @Html.DisplayFor(name => Model.UserName)
</p>

<p>
    <strong> @Html.DisplayNameFor(time => Model.Time)</strong>
    @Html.DisplayFor(time => Model.Time)
</p>
