@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Auction</title>
        @Styles.Render("~/Content/css")
    </head>
    <body>

            <div class="container body-content ">
                    <div class="text-center">
                        <img src="~/Content/Images/404.png" alt="error" height="300" width="500"/>

                        <h2>Page you are looking for could not be found!</h2>
                    </div>
            </div>

    </body>
</html>

